*,
*:before,
*:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

body {
  margin: 0;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  font-family: ff-Ubuntu; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

@font-face {
  font-family: 'Jura';
  src: url("../fonts/jura-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Jura';
  src: url("../fonts/jura-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Nord';
  src: url("../fonts/nordmedium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.header {
  position: relative; }
  .header__inner {
    min-height: 500px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    width: 300px; }

.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%, 0);
  height: 100%;
  background-color: #1c1531;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  transition: all 0.325s 0s ease; }
  .main-nav--active {
    color: #fff; }
  .main-nav--open {
    transform: translate(0, 0); }
  .main-nav__list {
    padding: 0 30px;
    margin: 0;
    list-style-type: none; }

.main-nav__link {
  color: #fff;
  text-decoration: none;
  font-family: "Jura", sans-serif;
  font-size: 14px;
  line-height: 36px; }
  .main-nav__link--active {
    color: #fff; }

.main-title__head {
  margin: 0;
  color: #fff;
  text-decoration: none;
  font-family: "Nord", sans-serif; }

.main-title__description {
  font-family: "Jura", sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 300; }

.side-bar {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #1c1531;
  opacity: 0.5;
  color: #fff;
  height: 100%;
  width: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  white-space: nowrap;
  z-index: 10; }
  .side-bar__vk {
    background-image: url(../img/sprite-0054127714146677164.png);
    background-position: 0px -44px;
    width: 25px;
    height: 15px;
    position: absolute;
    top: 10px; }
  .side-bar__link {
    transform: rotate(-90deg);
    color: #fff; }

.nav-burger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  margin: 10px; }
  .nav-burger--close {
    background-image: url(../img/sprite-0054127714146677164.png);
    background-position: -44px 0px;
    width: 40px;
    height: 40px; }
  .nav-burger--hamburger {
    background-image: url(../img/sprite-0054127714146677164.png);
    background-position: 0px 0px;
    width: 40px;
    height: 40px; }

.place {
  margin: 0;
  padding: 0; }
  .place__inner {
    min-height: 400px;
    margin: 0 auto;
    position: relative;
    -ms-flex-align: center;
        align-items: center;
    width: 300px; }
  .place__time {
    position: absolute; }
  .place__title {
    font-family: "Jura", sans-serif;
    font-size: fz-20;
    padding-top: 40px; }
  .place__list {
    list-style-type: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding-left: 0; }
  .place__item {
    padding-left: 20px;
    position: relative;
    font-family: "Jura", sans-serif;
    font-size: 10px; }
  .place__item:before {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: green; }
  .place__map {
    margin: 0 -10px; }

.slide-section {
  background-image: url("../img/slider.png");
  color: #fff; }
  .slide-section__inner {
    margin: 0 auto;
    -ms-flex-align: center;
        align-items: center;
    width: 300px; }
  .slide-section__title {
    top: 40px; }
  .slide-section__img {
    margin: 0 -10px; }
  .slide-section .slide {
    min-height: 400px;
    z-index: 9; }
  .slide-section .slick-dots li {
    display: inline-block; }
  .slide-section .slick-dots li button {
    color: transparent;
    background-color: green;
    border: none;
    outline: none;
    width: 20px;
    height: 20px;
    margin-right: 10px; }
  .slide-section .slick-dots li.slick-active button {
    background-color: cyan; }
  .slide-section__visual {
    display: none; }
  .slide-section__text {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 400px;
    -ms-flex-align: center;
        align-items: center;
    float: left;
    margin: 0;
    padding: 0;
    position: relative; }

.about {
  position: relative;
  background-color: #f7f7f7; }
  .about__inner {
    min-height: 430px;
    margin: 0 auto;
    width: 300px; }
  .about__title {
    font-family: "Jura", sans-serif;
    font-size: fz-20;
    padding-top: 40px; }
  .about__row {
    position: relative; }
  .about__row:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 4px;
    width: 1px;
    height: 220px;
    background-color: green; }
  .about__item {
    padding-left: 20px;
    position: relative; }
  .about__item:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 9px;
    height: 9px;
    background-color: green; }
  .about__number {
    font-family: "Ubuntu", sans-serif;
    font-size: 30px;
    color: #e6e6e6; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

@media screen and (min-width: 748px) {

  .header__inner {
    width: 748px; }

  .main-nav {
    display: block;
    height: auto;
    transform: translate(0, 0); }

  .nav-burger {
    display: none; }

  .place__inner {
    width: 748px; }

  .slide-section__inner {
    width: 748px; }

  .about__inner {
    width: 748px; } }

@media screen and (min-width: 1170px) {

  .header__inner {
    width: 1170px; }

  .place__inner {
    width: 1170px; }

  .slide-section__inner {
    width: 1170px; }

  .about__inner {
    width: 1170px; } }

/*# sourceMappingURL=style.css.map */
