.about {

  position: relative;
  background-color: $bgc-gray;
  padding-top: 40px;
  padding-bottom: 40px;


  &__inner{
    margin: 0 auto;
    padding: 0;
    width: $container-xs;
    @media screen and (min-width: $screen-sm) {
      width: $container-sm;
    }

    @media screen and (min-width: $screen-lg) {
      width: $container-lg;
    }
  }
  &__title {
    font-family: $ff-Jura;
    font-size: fz-20;
    margin: 0;
    line-height: $lh-24;

  }
  &__row {
      position: relative; 
      padding-top: 20px;
      padding-bottom: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  &__row:before {
      content: '';
      position: absolute;
      top: 60px;
      left: 4px;
      width: 1px;
      height: 220px;
      background-color: green;
  }

  &__item {
      padding-left: 20px;
      padding-top: 30px;
      position: relative;
  }
  &__item:before {
      content: '';
      position: absolute;
      margin-top: 10px;
      left: 0;
      width: 9px;
      height: 9px;
      background-color: green;
  }
  &__number {
    font-family: $ff-Ubuntu;
    font-size: $sz-30;
    color: #e6e6e6;


  }
  &__text {
    font-family: $ff-Ubuntu;
    font-size: $sz-12;
  }

}