.about {

  position: relative;
  background-color: $bgc-gray;
  padding-top: 40px;
  padding-bottom: 40px;


  &__inner{
    margin: 0 auto;
    padding: 0;
    width: $container-xs;
    @media screen and (min-width: $screen-sm) {
      width: $container-sm;
    }

    @media screen and (min-width: $screen-lg) {
      width: $container-lg;
      padding-top: 20px;
    }
  }
  &__title {
    font-family: $ff-Jura;
    font-size: $sz-20;
    margin: 0;
    line-height: $lh-24;
  
  @media screen and (min-width: $screen-lg) {
    font-size: $sz-30;
    }
  }
  
  &__row {
    position: relative; 
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: $screen-sm) {
      flex-direction: row;
      &:before {
        content: '';
        position: absolute;
        top: 100px;
        left: 4px;
        width: 748px;
        height: 1px;
        background-color: #b2dad0;
      }

    @media screen and (min-width: $screen-lg) {
      flex-direction: row;

      &:before {
        width: 1170px;
      }
    }
    }

    &:before {
      content: '';
      position: absolute;
      top: 95px;
      left: 4px;
      width: 1px;
      height: 220px;
      background-color: #b2dad0;
    }
  }

  &__item {
    padding-left: 20px;
    padding-top: 30px;
    position: relative;

    @media screen and (min-width: $screen-sm) {
      width: 33%;
      box-sizing: border-box;
      padding-left: 0;
    }
  }
  &__item:before {
      content: '';
      position: absolute;
      margin-top: 45px;
      left: 0;
      width: 9px;
      height: 9px;
      background-color: #03eaa5;
  }
  &__number {
    font-family: $ff-Ubuntu;
    font-weight: 600;
    font-size: $sz-30;
    color: #e6e6e6;


  }
  &__text {
    font-family: $ff-Ubuntu;
    font-size: $sz-12;

    @media screen and (min-width: $screen-sm) {
    padding-top: 30px;
    }
    @media screen and (min-width: $screen-lg) {
    font-size: $sz-16;
    line-height: $lh-30;
    }
  }



}