.contacts {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url(../img/contacts.png);
    background-size: cover;
    background-position: center;

  &__inner {
    margin: 0 auto;
    position: relative;
    align-items: center;
    width: $container-xs;
    @media screen and (min-width: $screen-sm) {
      width: $container-sm;
    }
    @media screen and (min-width: $screen-lg) {
      width: $container-lg;
    }
  }

    &__title {
      font-family: $ff-Jura;
      font-size: $sz-20;
      margin: 0;
      color: $c-white;
    }

    &__row {
      display: flex;
      flex-wrap: wrap;
      padding-top: 50px;
      padding-bottom: 20px;
    }
}

.contacts-place {
      width: 50%;
      padding-bottom: 30px;

    @media screen and (min-width: $screen-sm) {
      width: 25%;
    }


    &__location {
      position: relative;
      font-family: $ff-Jura;
      font-size: $sz-14;
      color: $c-white;
      text-decoration: none;
      padding-left: 30px;


      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        display: block;
        width: 10px;
        height: 10px;
        background-color: #89c1a1;
      }
    }

  &__info {
        display: none;
        position: absolute;
        background-color: #fff;
        z-index: 200;
        width: 80%;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 20px;
        padding: 30px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

    @media screen and (min-width: $screen-sm) {
      position: relative;
      display: block;
      background-color: transparent;
      color: #fff;
      margin: 0;
      padding-left: 0;
      width: 120%;

    }
  }

  &__close {
        // content: '';
        position: absolute;
        right: 30px;
        top: 30px;
        display: block;
        width: 30px;
        height: 30px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid #000;
        cursor: pointer;

    @media screen and (min-width: $screen-sm) {
        display: none;
    }
  }

  &__title {
    font-family: $ff-Jura;
    font-size: $sz-14;
    padding-left: 30px;
    position: relative;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: #89c1a1;
      }
  @media screen and (min-width: $screen-sm) {
    display: none;
    }
  }

  &__name {
      font-family: $ff-Ubuntu;
      font-size: $sz-12;
      line-height: $lh-14;
      padding-left: 30px;
    @media screen and (min-width: $screen-sm) {
      line-height: $lh-20;
    }
  }

  &__link {
      position: relative;
      padding-left: 30px;
      font-family: $ff-Ubuntu;
      font-size: $sz-12;
      line-height: $lh-14;
      color: #111;
      text-decoration: none;
    @media screen and (min-width: $screen-sm) {
      color: #fff;
    }
  }
}
