.place {
  padding-top: 40px;



  &__inner {
    margin: 0 auto;
    position: relative;
    align-items: center;
    width: $container-xs;
    @media screen and (min-width: $screen-sm) {
      width: $container-sm; 

    }
    @media screen and (min-width: $screen-lg) {
      width: $container-lg;
    }
  }

  &__info {

    @media screen and (min-width: $screen-sm) {
      position: relative; 
      display: flex;
    }
  }

    &__title {
      font-family: $ff-Jura;
      font-size: $sz-20;
      margin: 0;
    }

    &__time {
      position: relative;
      padding-top: 50px;
      padding-bottom: 30px;
    }

    &__text {
      font-family: $ff-Ubuntu;
      font-size: $sz-12;
      line-height: $lh-20;
      margin: 0;
    }

    &__list {
      list-style-type: none;
      display: flex;
      justify-content: space-between; 
      font-family: $ff-Jura;
      font-size: $sz-10;
      padding-left: 0;
      padding-top: 30px;
    }

    &__item {

      padding-left: 20px;
      position: relative;
    }

  .place__item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
  }

    .place__item--pink:before {
      background-color: #ef8989;
    }

    .place__item--blue:before {
      background-color: #04a8a8;
    }

    .place__item--green:before {
      background-color: #cdd63f;
    }

    .place__item--orange:before {
      background-color: #efb672;
    }


    //   &__item:before {
    //   content: '';
    //   position: absolute;
    //   left: 0;
    //   width: 10px;
    //   height: 10px;
    //   background-color: #ef8989;
    // }

  
      // &--pink:before {
      //   background-color: #ef8989;
      // }


    &__map {
      // margin: 0 -10px;
      background-image: url('../img/map_320.png');
      min-height: 330px;
      background-size: cover;
      background-position: center;
    }

 



}