.place {
  margin: 0;
  padding: 0;


  &__inner {
    min-height: 400px;
    margin: 0 auto;
    position: relative;
    align-items: center;
    width: $container-xs;
    @media screen and (min-width: $screen-sm) {
      width: $container-sm;
    }
    @media screen and (min-width: $screen-lg) {
      width: $container-lg;
    }
 }

    &__time {
      position: absolute;
    }

    &__title {
      font-family: $ff-Jura;
      font-size: fz-20;
      padding-top: 40px;
    }

    &__list {
      list-style-type: none;
      display: flex;
      justify-content: space-between; 
padding-left: 0;
    }

    &__item {
      padding-left: 20px;
      position: relative;
      font-family: $ff-Jura;
      font-size: $sz-10;
    }

      &__item:before {
      content: '';
      position: absolute;
      left: 0;
      width: 10px;
      height: 10px;
      background-color: green;
  }

    &__map {
    margin: 0 -10px;
    }

 








}