.price {
  padding-top: 40px;
  padding-bottom: 40px;



  &__inner {
    margin: 0 auto;
    position: relative;
    align-items: center;
    width: $container-xs;
    @media screen and (min-width: $screen-sm) {
      width: $container-sm;
      min-height: 300px;
    }
    @media screen and (min-width: $screen-lg) {
      width: $container-lg;
    }
  }

  &__content {
    overflow: hidden;
  }


  &__title {
    font-family: $ff-Jura;
    font-size: $sz-20;
    margin: 0;
  }

  &__list {

    list-style-type: none;
    margin: 0;
    padding: 0;


    @media screen and (min-width: $screen-sm) {
      display: flex;
      justify-content: space-around;
      width: 100%;
      margin-left: -40px;

    }

  }

  &__item a {
    font-family: $ff-Jura;
    font-size: $sz-12;
    color: $c-text;
    margin: 30px 0;
  }
  
  [class*="price__country-info"] {
    display: none;
  }

  .open {
    display: block;
  }

  &__country {
    font-family: $ff-Jura;
    font-size: $sz-12;
    text-decoration: none;
    color: $c-text;
    position: relative;

   @media screen and (min-width: $screen-sm) {
    display: flex;
    // justify-content: space-around;
    }
    
    &:after {
      content: '';
      width: 5px;
      height: 5px;
      top: 5px;
      border-right: 1px solid #000;
      border-top: 1px solid #000;
      transform: rotate(45deg);
      // display: block;
      position: absolute;
      left: 120%;
    }

  }

  &__country--active a {
      color: $bgc-green;
      // display: block;

    &:after { 
      content: '';
      width: 5px;
      height: 5px;
      // top: 5px;
      border-right: 1px solid $bgc-green;
      border-bottom: 1px solid $bgc-green;
      // transform: rotate(45deg);
      border-top: 1px solid transparent;
      // display: block;
      // position: absolute;
      left: 120%;
    }
    @media screen and (min-width: $screen-sm) {
      display: flex;
      justify-content: space-around;
      position: relative;
    }
  }

  .price__country--active ~ .price__country-info{
      display: block;
    @media screen and (min-width: $screen-sm) {
      position: absolute;
    }
}

  &__country-info {
      display: none;

  }

  &__table {
    border:1px solid #d0d0d0;
    border-collapse:collapse;
    color: $c-text;
    margin: 15px 0;

  @media screen and (min-width: $screen-sm) {
    margin-top: 30px;
    }
  }

  tbody {
    border: 1px;
    border-color: #111;
  }

  th {
    font-family: $ff-Ubuntu;
    font-size: $sz-10;
    padding: 12px 20px;
    text-align: left;
    border-right: 1px solid #d0d0d0;

   @media screen and (min-width: $screen-sm) {
    padding: 20px 30px;
    }
  }

  tr {
    padding: 8px 5px;
    text-align: left;
    border-right: 1px solid;
    border-bottom: 1px solid #d0d0d0;

   @media screen and (min-width: $screen-sm) {
    padding: 15px 12px;
    }
  }

    td {
    font-family: $ff-Ubuntu;
    font-size: $sz-10;
    padding:12px 20px;
    border-right: 1px solid #d0d0d0;

   @media screen and (min-width: $screen-sm) {
    padding: 20px 30px;
    }
  }

  &__link {
    font-family: $ff-Ubuntu;
    font-size: $sz-12;
    color: $c-text;
    float: left;
  }

}




