.reviews {
  background-color: $bgc-green;


  &__inner {
    margin: 0 auto;
    position: relative;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    width: $container-xs;
    @media screen and (min-width: $screen-sm) {
      width: $container-sm;
      padding-top: 30px;
      padding-bottom: 20px;
    }
    @media screen and (min-width: $screen-lg) {
      width: $container-lg;
      padding-top: 60px;
    }
  }


  &__title {
    font-family: $ff-Jura;
    font-size: $sz-20;
    margin: 0;

  @media screen and (min-width: $screen-lg) {
    font-size: $sz-30;
    }
  }

  &__slider {
    padding-top: 50px;
    padding-bottom: 50px;

  @media screen and (min-width: $screen-sm) {
    padding-top: 20px;
    padding-bottom: 20px;
    }
  }

  .slick-prev .slick-arrow button {
    display: none;
  }

  & .slick-dots .slick-dots {
    padding-left: 0;
  }
  & ul{
    text-align: right;
    padding: 0;
  @media screen and (min-width: $screen-sm) {
      text-align: center;
     }
  }

    & li {
      display: inline-block; 
    }

    & li button{ 
      color: transparent; 
      background-color: #f7f7f7; 
      border: none; 
      outline: none; 
      width: 15px; 
      height: 15px; 
      margin-right: 15px; 
      padding: 0;
    } 

    & li.slick-active button{ 
      background-color: #2f4159; 
    }
}

#reviews-id .review {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  outline: none;


  &__field {
    width: 200px;
    background-color: $bgc-gray;
    padding: 20px;
    padding-top: 25px;
    position: relative;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      right: 100%;
      width: 25px;
      height: 20px;
      background: linear-gradient(40deg, transparent 50%, $bgc-gray 50%);
    }
   @media screen and (min-width: $screen-lg) {
    width: 350px;
  }

  }


  &__visual {
      padding-right: 10px;
      width: 60px;
      height: 60px;
      // background-image: url('../img/author.png');
      
    @media screen and (min-width: $screen-sm) {
      width: 95px;
      height: 105px;
      background-size: cover;
      background-position: center;
      padding-right: 30px;
      }

    @media screen and (min-width: $screen-lg) {
      width: 170px;
      height: 150px;
      background-size: cover;
      background-position: center;
      }
    }

  &__photo {
      background-size: cover;
      background-position: center;
      background-image: url('../img/author.png');
  }

  &__author {
    font-family: $ff-Ubuntu;
    font-size: $sz-10;
    line-height: $lh-14;
   @media screen and (min-width: $screen-lg) {
    font-size: $sz-16;
    line-height: $lh-30;
  }

  }

  &__text {
    margin: 0;
    align-items: center;
    position: relative;
    font-family: $ff-Ubuntu;
    font-size: $sz-10;
    line-height: $lh-14;

  @media screen and (min-width: $screen-lg) {
    font-size: $sz-16;
    line-height: $lh-30;
  }
  }

}




