.slide-section {
  background-image: url('../img/slider.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;

  @media screen and (min-width: $screen-sm) {
    background-image: none;
    padding-top: 0;
    padding-bottom: 0;
    color: #000;
  }

  &__inner {
    margin: 0 auto;
    align-items: center;
    width: $container-xs;
    @media screen and (min-width: $screen-sm) {
      width: $container-sm;
    }
    @media screen and (min-width: $screen-lg) {
      width: $container-lg;
    }
  }

  &__row {

    @media screen and (min-width: $screen-sm) {
      position: relative; 
      display: flex;
    }
  }

    &__info {

    @media screen and (min-width: $screen-sm) {
      align-self: stretch;
      width: 50%;
      padding-top: 30px;
    }

    @media screen and (min-width: $screen-lg) {
      align-self: stretch;
      width: 50%;
      padding-top: 60px;
    }
  }

  &__title {
    font-family: $ff-Jura;
    font-size: $sz-20;
    line-height: $lh-24;
    margin: 0;

  @media screen and (min-width: $screen-lg) {
    font-size: $sz-30;
    line-height: $lh-36;
    padding-right: 100px;
  }
  }



  &__visual {
    display: none;

    @media screen and (min-width: $screen-sm) {
      display: block;
      align-self: stretch;
      width: 50%;
      background-image: url('../img/slider.png');
      background-size: cover;
    }
  }

  &__img {

  }

}


.slider-next {
  @include sprite($arrow-next);
  right: -45px;
}

.slider-prev {
  @include sprite($arrow-prev);
  left: 0;
}


.slider {
  padding-top: 50px;
  padding-bottom: 50px;

  @media screen and (min-width: $screen-sm) {
    padding-left: 60px;
  }

  
  &__item {
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
  }
  
  &__text {
    margin: 0;
    align-items: center;
    position: relative;
    font-family: $ff-Ubuntu;
    font-size: $sz-12;
    line-height: $lh-20;

    @media screen and (min-width: $screen-sm) {
      padding-right: 30px;
    }
    @media screen and (min-width: $screen-lg) {
    font-size: $sz-16;
    line-height: $lh-30;
  }
  }

  & .slick-arrow {
    display: block;
    position: absolute;
    top: 100px;
    cursor: pointer;
  }

  & .slick-dots {
    padding-left: 0;
    text-align: left;

    & li {
      display: inline-block; 
    }

    & li button{ 
      color: transparent; 
      background-color: #b2dad0; 
      border: none; 
      outline: none; 
      width: 15px; 
      height: 15px; 
      margin-right: 15px; 
      padding: 0;
    } 

    & li.slick-active button{ 
      background-color: #03eaa5; 
    }
  }

}




