.slide-section {
  background-image: url('../img/slider.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;

  &__inner {
    margin: 0 auto;
    align-items: center;
    width: $container-xs;
    @media screen and (min-width: $screen-sm) {
      width: $container-sm;
    }
    @media screen and (min-width: $screen-lg) {
      width: $container-lg;
    }
  }
  &__title {
    font-family: $ff-Jura;
    font-size: $sz-20;
    line-height: $lh-24;
    margin: 0;
  }

  &__visual {
    display: none;
  }

  &__img {

  }

}


.slider {
    padding-top: 50px;
    padding-bottom: 50px;
  
  &__item {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  &__text {
    margin: 0;
    align-items: center;
    position: relative;
    font-family: $ff-Ubuntu;
    font-size: $sz-12;
    line-height: $lh-20;
  }

  & .slick-dots {
    padding-left: 0;
    text-align: left;

    & li {
      display: inline-block; 
    }

    & li button{ 
      color: transparent; 
      background-color: green; 
      border: none; 
      outline: none; 
      width: 15px; 
      height: 15px; 
      margin-right: 15px; 
      padding: 0;
    } 

    & li.slick-active button{ 
      background-color: cyan; 
    }
  }

}




