// @font-face {
//   font-family: ...;
//   src:url();
// }

@font-face { 
  font-family: 'Jura'; 
  src: url('../fonts/jura-regular-webfont.woff') format('woff');
       // url('webfont.ttf')  format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
       // url('webfont.woff') format('woff'); 
  font-weight: 400; 
  font-style: normal; 
}

@font-face { 
  font-family: 'Jura'; 
  src: url('../fonts/jura-light-webfont.woff') format('woff'); 
       // url('webfont.ttf')  format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
       // url('webfont.woff') format('woff'); 
  font-weight: 300; 
  font-style: normal; 
}

@font-face { 
  font-family: 'Ubuntu Medium'; 
  src: url('../fonts/ubuntu-medium-webfont.woff') format('woff');
       // url('webfont.ttf')  format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
       // url('webfont.woff') format('woff'); 
  font-weight: 600; 
  font-style: medium; 
}

@font-face { 
  font-family: 'Ubuntu'; 
  src: url('../fonts/ubuntu-light-webfont.woff') format('woff'); 
       // url('webfont.ttf')  format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
       // url('webfont.woff') format('woff'); 
  font-weight: 300; 
  font-style: normal; 
}


@font-face{
  font-family: 'Nord'; 
  src:url('http://nomail.com.ua/files/eot/0475c723a666a5c519583942afd84bcc.eot?#iefix') format('embedded-opentype'), 
  url('http://nomail.com.ua/files/woff/0475c723a666a5c519583942afd84bcc.woff') format('woff'), 
  url('http://nomail.com.ua/files/woff2/0475c723a666a5c519583942afd84bcc.woff2') format('woff2');}

@font-face{
  font-family:'Nord-Medium';
  src:local('Nord-Medium'), url('http://nomail.com.ua/files/woff/0475c723a666a5c519583942afd84bcc.woff') 
  format('woff');}#nordmedium{font-family:'Nord-Medium';}.font0475c723a666a5c519583942afd84bcc{font-family:'font0475c723a666a5c519583942afd84bcc';
  font-weight: 200; }
    