// $screen-xs:                   480px;
$screen-sm:                   748px;
// $screen-md:                   992px;
$screen-lg:                   1170px;
// $screen-xl:                   1920px;

$text-color:                  #000;

$font-family:                 'Open Sans_my', sans-serif;
$font-size:                   14px;

$container-xs:                300px;
$container-sm:                748px;
$container-lg:                1170px;

$ff-Jura:    'Jura', sans-serif;
$ff-Ubuntu:     'Ubuntu', sans-serif;
$ff-Nord:   'Nord', sans-serif;


$sz-16:     16px;
$sz-50:     50px;
$sz-20:     20px;
$sz-30:      30px;
$sz-14:      14px;

$lh-30:      30px;
$lh-36:      36px;
$lh-24:      24px;
$lg-20:      20px;

$c-pale-green: #e6fffd;
$c-text: #201c38;
$c-text-2: #4d4b5c;
$c-dark: #212027;
$c-white: #fff;

$bgc-white: #fff;
$bgc-gray: #f7f7f7;
$bgc-green: #b2dad0;
$bgc-cyan: #201b38;






